$darkShade: #1F2041;
$darkShade75: rgba($darkShade, 0.75);
$darkShade50: rgba($darkShade, 0.50);
$darkShade25: rgba($darkShade, 0.25);
$darkShade10: rgba($darkShade, 0.10);
$darkShade05: rgba($darkShade, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$blue: #66D2EA;
$shadow: 0px 0px 50px -25px $darkShade;
$gradientColor: linear-gradient(to right, $blue, $green);
$gradientColorVertical: linear-gradient(to top, $blue, $green);

.multislider-v43 {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 38px;
  width: 100%;
  font-size: 1rem;
  font-family: sans-serif;
  z-index: 0;
  user-select: none;

  &__header {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1em;
  }

  &__description {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: $darkShade;
  }

  &__output {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkShade75;
  }

  &__value {
    &-input {
      padding: 0;
      margin: 0;
      width: 0;
      font: inherit;
      color: inherit;
      border: none;
      background: none;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    &-hided {
      position: absolute;
      max-height: 0;
      overflow: hidden;
      font: inherit;
      white-space: pre;
    }
  }

  &__body {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 7px;
    border: 2px solid $darkShade25;
    border-radius: 7px;
    cursor: pointer;
    
    &_vertical {
      height: 100%;
      width: 7px;
    }

    &_indented {
      margin-bottom: 1.8em;
    }
  }

  &__thumb {
    box-sizing: border-box;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0px;
    height: 16px;
    width: 16px;
    background-color: $green;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
    transition: background-color 0.2s;
    touch-action: none;

    &_vertical {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &_active {
      background-color: $blue;
    }
  }

  &__thumb_active + &__tooltip {
    display: flex;
  }

  &__tooltip {
    display: none;
    position: absolute;
    font: inherit;
    cursor: default;
    padding: 4px;
    background-color: white;
    color: $darkShade50;
    border: 2px solid $green;
    border-radius: 10px;
    bottom: 12px;
    transform: translateX(-50%);
    -moz-appearance: textfield;

    &-input {
      font: inherit;
      color: $darkShade75;
      border: none;
      outline: none;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    &-hided {
      position: absolute;
      max-height: 0;
      overflow: hidden;
      white-space: pre;
    }
    
    &_vertical {
      right: 12px;
      transform: translateY(50%);
    }

    &_visible {
      display: flex;
    }
  }

  &__range {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0px;
    height: 3px;
    background: $gradientColor;
    border-radius: 8px;
    z-index: -1;

    &_vertical {
      bottom: 0;
      left: 0px;
      width: 3px;
      height: 0px;
      background: $gradientColorVertical;
    }
  }

  &__scale-division {
    box-sizing: border-box;
    position: absolute;
    margin-top: 18px;
    transform: translateX(-50%);
    color: $darkShade75;

    &:hover {
      color: $darkShade50;
      transition: color 0.3s;
    }

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      height: 7px;
      width: 2px;
      transform: translateX(-50%);
      background-color: $darkShade50;
    }

    &:first-child {
      transform: translateX(0);
    }

    &:last-child {
      transform: translateX(-100%);
    }

    &:first-child::before,
    &:last-child::before {
      content: none;
    }

    &_vertical {
      left: -2px;
      transform: translateY(50%);
      margin-top: 0;
      margin-left: 18px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -18px;
        height: 2px;
        width: 7px;
        transform: translateY(-50%);
      }

      &:first-child {
        transform: translateY(0);
      }
  
      &:last-child {
        transform: translateY(100%);
      }

      &:first-child::before,
      &:last-child::before {
        content: none;
      }
    }
  }

  &_vertical {
    height: 100%;
    min-width: 38px;
  }
}