mixin configurable-slider(config)
  .configurable-slider.js-configurable-slider(data-config=config)
    .configurable-slider__panel.js-configurable-slider__panel
    .configurable-slider__slider.js-configurable-slider__slider