.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 900px;
  grid-gap: 5px;

  @media (max-width: 1440px) {
    grid-template-columns: 100%;
  }

  &__item {
    background-color: #1f20410A;
    padding: 10px;
  }
}