include ~Example/blocks/configurable-slider/configurable-slider.pug

mixin index-page(props)
  - const { sliders } = props;

  .grid
    each slider in sliders
      .grid__item
        +configurable-slider(slider)