doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="multislider-v43, range-slider, slider")
    meta(
      name="description",
      content="Пример использования диапазонного слайдера значений в формате JQuery-плагина",
    )
    link(rel="apple-touch-icon", sizes="180x180", href="./example/assets/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./example/assets/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./example/assets/favicons/favicon-16x16.png")
    link(rel="manifest", href="./example/assets/favicons/site.webmanifest")
    link(rel="mask-icon", href="./example/assets/favicons/safari-pinned-tab.svg", color="#1F2041")
    meta(name="msapplication-TileColor", content="#603cba")
    meta(name="theme-color", content="#1f2041")
    title Sliders Examples
  body
    - const sliders = require('./configurable-sliders.json');

    include ~Example/blocks/index-page/index-page.pug

    +index-page(sliders)