$DarkShade: #1F2041;
$DarkShade75: rgba($DarkShade, 0.75);
$DarkShade50: rgba($DarkShade, 0.50);
$DarkShade25: rgba($DarkShade, 0.25);
$DarkShade10: rgba($DarkShade, 0.10);
$DarkShade05: rgba($DarkShade, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
$shadow: 0px 0px 50px -25px $DarkShade;
$gradientColor: linear-gradient(to top, #8BA4F9, $Purple);
$gradientColorSecond: linear-gradient(to top, #66D2EA, $Green);

* {
  box-sizing: border-box;
}
.multislider-v43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 38px;
  width: 100%;
  padding-bottom: 30px;
  background-color: #C0F9B0;
  border: 2px solid gray;
  border-radius: 5px;
  font-family: sans-serif;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  &-header {
    &__description {
      text-align: center;
      font-weight: bold;
    }
    &__output {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: $DarkShade50;
    }
  }
  &-body {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: white;
    border: 2px solid #7f7f7f;
    border-radius: 10px;
    &__thumb {
      position: absolute;
      bottom: -9px;
      left: 0px;
      height: 24px;
      width: 24px;
      background-color: #00733c;
      border: 3px solid white;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
    }
    &__range {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0px;
      height: 8px;
      background-color: #46a229;
    }
    &__scale {
      height: 100%;
      width: 100%;
    }
    &__scale-division {
      position: absolute;
      height: 18px;
      bottom: -12px;
      padding-top: 20px;
      transform: translateX(-50%);
      cursor: pointer;
      &:hover {
        color: #00733c;
        text-shadow: #46a229 0px 0px 4px;
        transition: 0.3s;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 50%;
        height: 10px;
        width: 2px;
        transform: translateX(-50%);
        background-color: #1f1f1f;
      }
      &:first-child::before, &:last-child::before {
        content: none;
      }
    }
  }
  &.vertical {
    height: 100%;
    min-width: 38px;
    .multislider-v43 {
      &-body {
        height: 100%;
        width: 10px;
        &__thumb {
          bottom: 0px;
          left: -9px;
        }
        &__range {
          bottom: 0;
          left: -1px;
          width: 8px;
          height: 0px;
        }
        &__scale-division {
          left: -2px;
          transform: translateY(50%);
          padding-top: 0;
          padding-left: 20px;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0px;
            height: 2px;
            width: 10px;
            transform: translateY(-50%);
            background-color: black;
          }
          &:first-child::before, &:last-child::before {
            content: none;
          }
        }
      }
    }
  }
}